/* --------- body inscripciones ---------- */

//variables// 
$rosa: #e898ad;
$font: 'preahvihear';

.mb-4 {
    margin-bottom: 50px;
    margin-top: 50px;
    color: $rosa;
    font-family: $font;
    font-size: 20fr;
}

.form-group {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: $font;
    color: black;
}

/* ------------- fin body inscripciones ----- */