/* --------------- body contactos ----------- */

//variables// 
$rosa: #e898ad;
$font: 'preahvihear';

.redes-conteiner {
    display: flex;
    align-items: center;
  }

.list-inline {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.list-inline-item {
    justify-content: center;
    margin: 10px;
    text-decoration: none;
    font-size: 24px;
    height: 60px;
    width: 60px;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;

    a i {
        text-align: center;
        justify-content: center;
        color: #e898ad;
    }
}


.list-inline-item:hover {
    transform: scale(1.2);
}

.titulo-contactos {
    color: $rosa;
    font-family: $font;
    font-size: 3rem;
    margin: 20px;
}

/*---------- fin body contactos -----------*/