/* --------------------- Body index -------------------------------- */

//variables// 
$rosa: #e898ad;
$font: 'preahvihear';

.paginadeinicio {
    padding: 20px;
    color:$rosa;
    font-family: $font;

    h1 {
        font-size: 8rem;
        margin: 15px;
    }

    h2 {
        font-size: 3rem;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    p {
        font-size: 2rem;
    }
}

.imagen-index {
    width: 300px;
    border-radius: 20%;
}

.parrafo {
    box-shadow: 2px 2px 5px rgba(240, 100, 198, 0.5);
    border-radius: 25%;
    text-align: center;
    margin: 20px;
  }


/* --------  fin Body index ---------- */