@font-face {
  font-family: "preahvihear";
  src: url(../multimedia/preahvihear/Preahvihear-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* --------------------Header------------------------------ */
header {
  background-color: rgb(19, 18, 18);
  color: rgb(232, 152, 174);
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  width: 100px;
  height: auto;
  background-color: rgb(19, 18, 18);
}

.navbar-nav .nav-link {
  color: #e898ad;
  margin: 20px;
  font-family: "preahvihear";
  font-size: 1.5rem;
}

.navbar-nav .nav-link:hover {
  color: white;
  transform: scale(1.5);
  text-decoration: underline;
}

.navbar-toggler-icon {
  background-color: #e898ad;
}

/* ------------------- fin del header -------------------------------- */
/* -------------------- footer ---------------------------------------*/
footer {
  background-color: rgb(19, 18, 18);
  padding: 20px;
  text-align: center;
}

.mensaje-agradecimiento {
  color: #e898ad;
  font-family: "preahvihear";
  margin-bottom: 20px;
}

.developer,
.copy {
  color: white;
  font-size: 14px;
}

@media (min-width: 768px) {

  .developer,
  .copy {
    text-align: left;
  }

  .copy {
    float: right;
  }
}

/* -------------------- fin del footer ----------------------------*/
/* --------------------- Body index -------------------------------- */
.paginadeinicio {
  padding: 20px;
  color: #e898ad;
  font-family: "preahvihear";
}

.paginadeinicio h1 {
  font-size: 8rem;
  margin: 15px;
}

.paginadeinicio h2 {
  font-size: 4rem;
  margin-top: 5px;
  margin-bottom: 20px;
}

.paginadeinicio p {
  font-size: 2rem;
}

.imagen-index {
  width: 300px;
  border-radius: 20%;
}

.parrafo {
  box-shadow: 2px 2px 5px rgba(236, 116, 200, 0.5);
  border-radius: 25%;
  text-align: center;
  margin: 20px;
}


/* --------  fin Body index ---------- */
/*-----------body cursos ---------*/
.titulo-cursos {
  color: #e898ad;
  font-family: "preahvihear";
  font-size: 5rem;
}

.introduccion {
  color: #e898ad;
  font-family: "preahvihear";
  font-size: 1.5rem;
}

.row {
  color: #e898ad;
  font-family: "preahvihear";
  display: flex;
  align-items: center;
}

.row h2 {
  font-size: 3rem;
}

.row h3 {
  font-size: 3rem;
  text-decoration: underline;
}

.row p {
  font-size: 1.5rem;
}

.row img {
  width: 100px;
  border-radius: 20%;
  transition: all 0.4s ease-in-out;
}

.row img:hover {
  transform: scale(2);
}

/* ---------- fin de body cursos ------- */
/*-------- inicio body nuestros trabajos -----------*/
.nuestrostrabajos {
  background-color: rgb(179, 146, 186);
}

.contactanos1 {
  color: black;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.contactanos1:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

.titulonuestrostrabajos {
  color: #e898ad;
  font-family: "preahvihear";
  font-size: 5rem;
  text-align: center;
  margin: 20px;
}

.subtitulonuestrostrabajos {
  margin-bottom: 50px;
  margin-top: 50px;
  color: #e898ad;
  font-family: "preahvihear";
  font-size: 3rem;
  text-align: center;
}

.carrusel {
  display: flex;
  align-items: center;
}

.carousel-item img {
  transition: none;
}

.carousel-item img:hover {
  transform: none;
}

/* --------- fin body nuestros trabajos -------------*/
/* --------- body inscripciones ---------- */
.mb-4 {
  margin-bottom: 50px;
  margin-top: 50px;
  color: #e898ad;
  font-family: "preahvihear";
  font-size: 20fr;
}

.form-group {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "preahvihear";
  color: black;
}

/* ------------- fin body inscripciones ----- */
/* --------------- body contactos ----------- */
#redes-conteiner {
  display: flex;
  align-items: center;
}

.list-inline{
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.list-inline-item {
  justify-content: center;
  margin: 10px;
  text-decoration: none;
  font-size: 24px;
  height: 60px;
  width: 60px;
  text-align: center;
  background-color: black;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}


.list-inline-item a i {
  text-align: center;
  justify-content: center;
  color: #e898ad;
}

.list-inline-item:hover {
  transform: scale(1.2);
}


.titulo-contactos {
  color: #e898ad;
  font-family: "preahvihear";
  font-size: 3rem;
  margin: 20px;
}


/*---------- fin body contactos -----------*/

/*# sourceMappingURL=estilos.css.map */