
@font-face {
    font-family: 'preahvihear';
    src: url(../preahvihear/Preahvihear-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}




/* Header */

header{
    padding-top: 110px;
    background-color:rgb(19, 18, 18) ;
    color: rgb(232, 152, 174);
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-nav .nav-link {
    color: #e898ad;
    margin: 20px;
    font-family: 'preahvihear';
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link:hover{
    color: white;
    transform: scale(1.5);
    text-decoration: underline;
  }

  .navbar-brand img {
    width: 100px;
    height: auto;
    background-color: rgb(19, 18, 18) ;
  }
  
  .navbar-toggler-icon {
    background-color: #e898ad;

  }
